.yellow-picker{
    background-color:yellow;
}
.blue-picker{
    background-color:blue;
}
.red-picker{
    background-color:red;
}
.orange-picker{
    background-color:orange;
}
.green-picker{
    background-color:green;
}
.picker-text{
    color:white;
}
